.privacy {
    padding: 20px;
    &__header {
        font-size: 20px;
        font-weight: 500;
        margin: 24px 0;
        &-s {
            font-weight: 600;
            font-size: 24px;
        }
    }
    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }
    &__descr {
        margin-bottom: 24px;
    }
    &__table {
        display: grid;
        grid-template-columns: 225px 550px;
        grid-template-rows: repeat(4, minmax(41px, auto));
        li {
            list-style-type: none;
            padding: 8px 12px 8px 12px;
            
        }
        &-sail {
            border: 1px solid silver;
            border-right: none;
        }    
        &-inform {
                border: 1px solid silver;
                &::before {
                content: "●";
                display: inline-block;
                font-size: 10px;
                line-height: 24px;
                margin-right: 5px;

            }
            
            
        }
            
        
        
    }
}
