
.promo {
    min-height: 100vh;
    position: relative;
    background: url("../img/my-photo.jpeg") no-repeat (center/cover);
    padding-top: 206px;
    
    &__title {
        width: 535px;
    }
    &__subtitle {
        z-index: 2;
        position: relative;
        @include before_circle;
    }
    &__btns {
        display: flex;
        width: 248px;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        color: #000;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        &:hover {
            color:#000;
        }

    }
}